# =========================================================
# Docker images
# Cần thay bằng phiên bản công ty quy định khi có thông tin
# =========================================================
KAFKA_IMAGE=apache/kafka:3.8.1
NIFI_IMAGE=apache/nifi:1.28.1
FLINK_IMAGE=flink:1.20.1-scala_2.12-java17

# Fixed local KRaft cluster ID
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# =========================================================
# NiFi
# Password phải đủ dài
# =========================================================
NIFI_USERNAME=admin
NIFI_PASSWORD=ChangeThisLocalPassword123!
NIFI_WEB_PROXY_HOST=localhost:8443

NIFI_JVM_HEAP_INIT=512m
NIFI_JVM_HEAP_MAX=2g

# =========================================================
# Flink
# =========================================================
FLINK_PARALLELISM=3
FLINK_TASK_SLOTS=9

# =========================================================
# Application services
# =========================================================
INFERENCE_PORT=8000
NWDAF_ADAPTER_PORT=8001

# =========================================================
# NWDAF
# Không commit endpoint/token thật
# =========================================================
NWDAF_ENDPOINT=http://host.docker.internal:9000
NWDAF_AUTH_TOKEN=replace-with-local-token